<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>Wishlist app</title>

	<link rel='icon' type='image/png' href='{{ base_path }}favicon.png'>

    <link rel="stylesheet" href="{{ base_path }}gulp_build/global.css" />

    <link rel="stylesheet" href="{{ module_css }}" />

    {% block styles %}
    {% endblock %}

    <script async src="https://kit.fontawesome.com/2442daaea1.js" crossorigin="anonymous"></script>

    <script>
        window.internal_login_enabled = 
            {% if internal_login_enabled %}
            true
            {% else %}
            false
            {% endif %};

        window.user_name = 
            {% if user.is_authenticated %}
            "{{ user.name }}"
            {% else %}
            void 0
            {% endif %};

        window.profile_pic = 
            {% if user.is_authenticated and user.profile_pic %}
            "{{ user.profile_pic }}"
            {% else %}
            void 0
            {% endif %};

        window.base_path = "{{ base_path }}".slice(0, "{{ base_path }}".length - 1);

        window.email_is_configured =
            {% if email_is_configured %}
            true
            {% else %}
            false
            {% endif %};

        window.version_number = 
            {% if version_number %}
            "{{ version_number|safe }}"
            {% else %}
            null
            {% endif %};

    </script>

    {% block global_script %}
    {% endblock %}

    <script type="module" defer src='{{ auto_bundles["navbar"] }}'></script>
    <script type="module" defer src='{{ auto_bundles["footer"] }}'></script>

    {% block scripts %}
    {% endblock %}
</head>

<body>
    <div id="nav-content"></div>

    {% block content %}
    <div class="app-content" id="app-content"></div>
    {% endblock %}

    <div id="footer-content"></div>
</body>
</html>
