<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>Wishlist app</title>

    <link rel="stylesheet" href="/library_content/bootstrap.min.css" />

	<link rel='icon' type='image/png' href='/favicon.png'>

    <link rel="stylesheet" href="/build/global.css" />

    {% block styles %}
    {% endblock %}

    <script async src="/library_content/popper.min.js"></script>
    <script async src="/library_content/bootstrap.min.js"></script>
	<script async src="/build/vendors-node_modules_svelte-hmr_runtime_proxy-adapter-dom_js-node_modules_svelte-loader_lib_h-cac228.bundle.js"></script>

    <script>
        window.user_name = 
            {% if user.is_authenticated %}
            "{{ user.name }}"
            {% else %}
            void 0
            {% endif %};
    </script>

    {% block scripts %}
    {% endblock %}
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand">Wishlist App</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-supported-content">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                {% block nav_buttons %}
                    <a class="btn btn-outline-primary" style="margin-bottom: 0" href="/edit">Create wishlist</a>
                {% endblock %}
                {% endif %}
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hi, {{ user.name }}
                            <img src="{{ user.profile_pic }}" alt="Profile pic" width="24" height="24" class="d-inline-block align-text-top" style="border-radius: 20px">
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    <div id="app-content"></div>
    {% endblock %}

</body>
</html>
